@model WishList.Models.Item;

    <h1>Wishlist</h1>
    <a asp-action="create">Add Item</a>
    <ul>
        @foreach (var item in Model)
        {
            <li>@Model.Description<a asp-action="delete" asp-rout-id="@Model.Id">delete</a></li>

        }
    </ul>
